<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/perfil.css') }}">
</head>
<body>
    <div id="tela">
        <div id="telaConfig">
            <div id="ConfigPhoto">
                <div id="uploadFoto">
                    <img id='Foto' src="static/img/starterpfp.jpeg">
                    <div id="textosUpload"> 
                        <h3>Carregue uma nova foto</h3>
                        <h5>starterpfp.jpeg</h5>
                    </div>
                </div>
                <div id="fotoUpdate">
                    <div id="btnUpdate">Atualizar</div>
                </div>
            </div>
            <div id="ConfigInfos">
                <h3>Mude suas informações aqui</h3>

                <form method="POST" action="{{url_for('atualizar_perfil')}}">
                    <div id="colChanges">
                        <div id="col1">
                            <h5>Nome</h5>
                            <input type="text" name="name" value="{{name}}">
                            <h5>Nome de Usuário</h5>
                            <input type="text" name="username" value="{{username}}">
                        </div>
                        <div id="col2">
                            <h5>E-mail</h5>
                            <input type="text" name="email" value="{{email}}">
                            <h5>Senha</h5>
                            <input type="password" name="password" placeholder="Digite nova senha">
                        </div>
                    </div>

                    <div id="infosExtra">
                        <h3>Informações Extras</h3>
                        <h5>Data de nascimento</h5>
                        <input type="date" id="dataNasc" name="dataNasc" required>
                        <h5>Seu apelido favorito</h5>
                        <input type="text" name="apelido">
                    </div>

                    <div id="btnsAttVol">
                        <button type="submit" id="AttPerfil"> Atualizar </button>
                        <a href="{{url_for('principal') }}" id="VoltarPrincipal">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>