<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='css/principal.css')}}">
</head>
<body>
    <div id="tela">
        <div id="perfilside">
            <div id="fotoperfil">
                <img src="{{url_for('static', filename='img/starterpfp.jpeg') }}" id="imgperfil">
                <h3>{{name}}</h3>
                <h5>@{{username}}</h5>
            </div>

            <div id = 'outraspag'>
                <ul id="listapags">
                    <li>
                        <a href="{{url_for('perfil')}}">Perfil</a>
                    </li>
                    <li>
                        <a href="{{url_for('evolucao_humor')}}" class="link_button_humor">Evolução de Humor</a>
                    </li>
                    <li>
                        <a href="{{url_for('historico')}}">Histórico</a>
                    </li>
                    <li>
                        <a href="{{url_for('inicio')}}">Voltar</a>
                    </li>
                </ul>
            </div>


        </div>

        <div id="calendarioside">

            <div id="bem-vindo">
                <h1>Seja bem vindo(a), {{name}}!</h1>
                <h2>Outubro</h2>
            </div>

            <div id="calendario">

                <div id="linha1">
                        <div>
                            <div class="nomediaA">Dom</div>
                            <div class='dianumA'>
                                <h4>28</h4>
                            </div>
                        </div>

                        <div>
                            <div class="nomediaA">Seg</div>
                            <div class='dianumA'>
                                <h4>29</h4>
                            </div>
                        </div>
                        <div>
                            <div class="nomediaA">Ter</div>
                            <div class='dianumA'>
                                <h4>30</h4>
                            </div>
                        </div>
                        <div>
                            <div class="nomedia">Qua</div>
                            <div class='dianum'>
                                <h4>01</h4>
                            </div>
                            <a href="{{url_for('semregistro')}}" target="_blank" class="ver_mais">Ver mais</a>
                        </div>
                        <div>
                            <div class="nomedia">Qui</div>
                            <div class='dianum'>
                                <h4>02</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Sex</div>
                            <div class='dianum'>
                                <h4>03</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Sáb</div>
                            <div class='dianum'>
                                <h4>04</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                    </div>

                <div id="linha2">
                        <div>
                            <div class="nomedia">Dom</div>
                            <div class='dianum'>
                                <h4>05</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Seg</div>
                            <div class='dianum'>
                                <h4>06</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Ter</div>
                            <div class='dianum'>
                                <h4>07</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Qua</div>
                            <div class='dianum'>
                                <h4>08</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Qui</div>
                            <div class='dianum'>
                                <h4>09</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Sex</div>
                            <div class='dianum'>
                                <h4>10</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Sáb</div>
                            <div class='dianum'>
                                <h4>11</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                    </div>

                <div id="linha3">
                        <div>
                            <div class="nomedia">Dom</div>
                            <div class='dianum'>
                                <h4>12</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>

                        <div>
                            <div class="nomedia">Seg</div>
                            <div class='dianum'>
                                <h4>13</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Ter</div>
                            <div class='dianum'>
                                <h4>14</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Qua</div>
                            <div class='dianum'>
                                <h4>15</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Qui</div>
                            <div class='dianum'>
                                <h4>16</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Sex</div>
                            <div class='dianum'>
                                <h4>17</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Sáb</div>
                            <div class='dianum'>
                                <h4>18</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                </div>

                <div id="linha4">
                        <div>
                            <div class="nomedia">Dom</div>
                            <div class='dianum'>
                                <h4>19</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>

                        <div>
                            <div class="nomedia">Seg</div>
                            <div class='dianum'>
                                <h4>20</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Ter</div>
                            <div class='dianum'>
                                <h4>21</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Qua</div>
                            <div class='dianum'>
                                <h4>22</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Qui</div>
                            <div class='dianum'>
                                <h4>23</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Sex</div>
                            <div class='dianum'>
                                <h4>24</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Sáb</div>
                            <div class='dianum'>
                                <h4>25</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                </div>

                <div id="linha5">
                        <div>
                            <div class="nomedia">Dom</div>
                            <div class='dianum'>
                                <h4>26</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>

                        <div>
                            <div class="nomedia">Seg</div>
                            <div class='dianum'>
                                <h4>27</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Ter</div>
                            <div class='dianum'>
                                <h4>28</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Qua</div>
                            <div class='dianum'>
                                <h4>29</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Qui</div>
                            <div class='dianum'>
                                <h4>30</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomedia">Sex</div>
                            <div class='dianum'>
                                <h4>31</h4>
                            </div>
                            <div class="ver_mais">Ver mais</div>
                        </div>
                        <div>
                            <div class="nomediaA">Sáb</div>
                            <div class='dianumA'>
                                <h4>01</h4>
                            </div>
                        </div>
                </div>

                <div id="btnEscrever">
                    <a href="{{url_for('escrever')}}" target="_blank" id="write">Escrever</a>
                </div>
            </div> <!-- calendario -->


        </div>
    </div>
</body>
</html>
