@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}


/* inicio */
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8894b7;
}
.bem-vindo {
    width: 1100px;
    text-align: left;
}
#hero{
    width: 700px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    border: 5px solid yellow;
}

#logomarca{
    width: 700px;
    height: 280px;
    display: flex;
    justify-content: center;
}

#logo{
    width: 400px;
    height: 280px;
    margin-top: 3rem;
}

#botoes{
    width: 700px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

/* página principal */
#tela{
    width: 1100px;
    height: 608px;
    border: 5px solid white;
}

#calendario{
    width: 1100px;
    height: 608px;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
}

#linha1, #linha2, #linha3, #linha4, #linha5{
    width: 1100px;
    height: 120px;
    display: flex;
    gap: 2px;
}

#linha1 > div, #linha2 > div, #linha3 > div, #linha4 > div, #linha5 > div{
    width: 157px;
    border: 1px solid #8894b7;
    display: flex;
    justify-content: space-between;
}

.dianum{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8894b7;
    margin: 5px;
}

.dianum h4{
    padding-left: 10px;
    padding-top: 8px;
}

.nomedia{
    margin-left: 3px;
}