* {
    padding: 0;
    margin: 0;
}
.nav_bar {
    background-color: orangered;
    height: 100vh;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista_nav {
    color:white;
    font-size: 20px;
    list-style: none;

}
