* {
    padding: 0;
    margin: 0;
}


/* inicio */
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #78B5D4;
}

#hero{
    width: 700px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    border: 5px solid yellow;
}

#logomarca{
    width: 700px;
    height: 280px;
    display: flex;
    justify-content: center;
}

#logo{
    width: 400px;
    height: 280px;
    margin-top: 3rem;
}

#botoes{
    width: 700px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

#cadastro{
    width: 100px;
    height: 50px;
    background-color: #1E424E;
    border-radius: 20px;
}

#login{
    width: 100px;
    height: 50px;
    background-color: #1E424E;
    border-radius: 20px;
}

/* página principal */
#tela{
    width: 1100px;
    height: 600px;
    border: 5px solid white;
}

#calendario{
    width: 1100px;
    height: 600px;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

#calendario > #linha1, #linha2, #linha3{
    width: 1100px;
    height: 200px;
    background-color: pink;
}