@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

#tela{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#78B5D4,white);
}

#telaConfig{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 850px;
    height: 550px;
    background-color: white;
    box-shadow: 0px 2px 10px #b2b8bcec;
    padding: 10px;
}

#ConfigPhoto{
    width: 830px;
    height: 200px;
    display: flex;
}

#ConfigInfos{
    width: 830px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}



#ConfigInfos h3{
    color: #FFF173;
    text-shadow: 1px 1px 0 #C7B157, 
      -1px 1px 0 #C7B157, 
      1px -1px 0 #C7B157, 
      -1px -1px 0 #C7B157;
}

#infosExtra{
    width: 830px;
    height: 150px;
    margin-top: 1.5rem;
    color:#78B5D4;
}

#infosExtra h3{
    color: #FFF173;
    text-shadow: 1px 1px 0 #C7B157, 
      -1px 1px 0 #C7B157, 
      1px -1px 0 #C7B157, 
      -1px -1px 0 #C7B157;
}

#colChanges{
    display: flex;
    width: 830px;
    height: 100px;
    color:#78B5D4;
}

#colChanges > #col1{
    margin-right: 10rem;
}

#uploadFoto{
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Foto{
    width: 150px;
    height: 150px;
    border: 3px solid #78B5D4;
    border-radius: 50%;
}

#textosUpload{
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 300px;
    height: 150px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#textosUpload h3{
    margin-left: 1rem;
    color: #78B5D4;
}

#textosUpload h5{
    color: #FFF173;
    text-shadow: 1px 1px 0 #C7B157, 
      -1px 1px 0 #C7B157, 
      1px -1px 0 #C7B157, 
      -1px -1px 0 #C7B157;
}

#fotoUpdate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 200px;
}

#btnUpdate{
    text-align: center;
    width: 100px;
    background-color: #78B5D4;
    cursor: pointer;
    border-radius: 20px;
    color: #FFF173;
    padding: 10px;
    text-shadow: 1px 1px 0 #C7B157, 
      -1px 1px 0 #C7B157, 
      1px -1px 0 #C7B157, 
      -1px -1px 0 #C7B157; 
    border: 2px solid #FFF173;
}


#btnsAttVol{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-right: 5rem;
}

#AttPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 15px;
    padding: 1rem;  
    background-color: #78B5D4;
    border-radius: 20px;
        color: #FFF173;
    padding: 10px;
    text-shadow: 1px 1px 0 #C7B157, 
      -1px 1px 0 #C7B157, 
      1px -1px 0 #C7B157, 
      -1px -1px 0 #C7B157; 
      margin-right: 2rem;
    border: 2px solid #FFF173;
}


#AttPerfil:hover, #btnUpdate:hover, #VoltarPrincipal:hover{
    text-shadow:none;
    background-color: #FFF173;
    border-color: #C7B157;
    color:#7e6e2e;
    transition: background-color 0.2s ;
}


#VoltarPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 15px;
    color: inherit;   
    text-decoration: none;
    cursor: pointer; 
        background-color: #78B5D4;
    border-radius: 20px;;
        color: #FFF173;
    padding: 10px;
    text-shadow: 1px 1px 0 #C7B157, 
      -1px 1px 0 #C7B157, 
      1px -1px 0 #C7B157, 
      -1px -1px 0 #C7B157;
    border: 2px solid #FFF173;
}

