<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
    <div class="area_geral_cadastro">
        <div class="title_cadastro">
            <h1>Registre-se já</h1>
            <h2>Coloque suas informações abaixo...</h2>
        </div>
        <div class="area_cadastro">
            <input type="POST" class="nome" placeholder="Digite aqui seu nome..."></input>
            <input type="POST" class="email" placeholder="Digite aqui seu email..."></input>
            <input type="POST" class="senha" placeholder="Digite aqui sua senha..." minlength="8"></input>
            <input type="POST" class="confirma_senha" placeholder="Confirme sua senha..."></input>
            <input type="button" class="button_cadastrar" value="Cadastrar"></input>

        </div>
    </div>
</body>
</html>