<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
    <div class="area_geral_cadastro">
        <div class="title_cadastro">
            <h1>Registre-se já</h1>
            <h2>Coloque suas informações abaixo...</h2>
        </div>
        <form method="POST" action="/cadastro" class="form_cadastro">
            <label for="username">Nome:</label>
            <input type="text" id="username" name="username" required>

            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button class="cadastrar_button" type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>