<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="css/inicio.css">
</head>
<body>
    <figure>
        <img src="static/Nuvem.png" alt="Nuvenzinha" class="img_login1">
        <img src="static/Nuvem.png" alt="Nuvenzinha" class="img_login2">
    </figure>
    <div id = "hero">
        <div id="logomarca">
            <img id = 'logo' src="static/img/logo-dirdehumor.png">
        </div>
        <div id="botoes_login">
            <input type="button" class=" button_login" value="Login" href="login.html"></input>
            <input type="button" class="button_cadastro" value="Cadastro" href="cadastro.html"></input>
        </div>
    </div>
</body>
</html>