<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#Conta">Conta</a></li>
                <li><a href="#Login">Login</a></li>
                <li><a href="#Configurações">Configurações</a></li>
                <li><a href="Humor">Humor</a></li>
                <li><a href="#Sair">Sair</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>