<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/historico.css')}}">
</head>
<body>
    <div id="tela">
        <div id="textos">
            <h1>Histórico</h1>
            <h6>Suas últimas atualizações</h6>
        </div>
        <div id="colunasHist">
            <div id="col1">
                <h4>Hoje</h4>
                <div class="notif"></div>
                </div>
                <div class="notif"></div>
            </div>
            <div id="col2">
                <h4>Essa semana</h4>
                <div class="notif"></div>
                <div class="notif"></div>
                <div class="notif"></div>
            </div>
            <div id="col3">
                <h4>Esse mês</h4>
                <div class="notif"></div>
                <div class="notif"></div>
                <div class="notif"></div>
            </div>
        </div>
    </div>
</body>
</html>
